/*styles for the website theme*/

@media (max-width: 767.98px) {
    main.container {
        padding-top: 0rem;
    }
    .container li {
        font-size: 0.5rem;
    }
}

#logo1 {
    background-color: #FFCF00;
    color: #000000;
    border-bottom-color: #000000;
    border-radius: 10px 0px 0px 0px;
    border-bottom: .5rem solid;
    padding-left: 1rem;
    padding-right: .5rem;
    padding-top: .5rem;
}

#logo2 {
    background-color: #40617F;
    color: #ffffff;
    border-bottom-color: #000000;
    border-radius: 0px 10px 0px 0px;
    border-bottom: .5rem solid black;
    padding-left: .5rem;
    padding-right: 1rem;
    padding-top: .5rem;
}

#headerTitle {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}


a .nav-item .nav-link {
    background-color: #FFCF00;
}


.siteNav {
    padding: 0.75rem;
}

.siteNav a {
    color: #FFCF00;
}


.siteNav a.active {
    background-color: #40617F;
}



/*styles for the website theme*/

@media (max-width: 767.98px) {
    main.container {
        padding-top: 0rem;
    }
    .container li {
        font-size: 0.5rem;
    }
}


#headerTitle {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

#subtitle {
    margin-top: 0;
    padding-left: 15px;
    color: #FFCF00;
}




/*react tab component css*/
.up {
    margin-top: 50px;
}